/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/
/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/*------------------------------------*\
  #HTML5-BOILERPLATE
\*------------------------------------*/
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

::-moz-selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

main,
footer {
  text-align: center;
  font: 300 0.75rem/1.2 "Libre Franklin", sans-serif;
}

p {
  font-size: 1em;
}

noscript {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  border-radius: 1em;
  background-color: white;
  padding: 1.25rem;
  width: 17.5rem;
  color: #111111;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

/**
 * Style Broken Images
 * 
 * Make it looks good even when the image doesn't load
 * Source: https://bitsofco.de/styling-broken-images/
 */
img::before {
  content: "We're sorry, the image below is broken.";
  display: block;
  margin-bottom: 0.625rem;
}

img::after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 0.75rem;
}

/** 
 * Avoid overloading a user with 
 * sound from a video that 
 * autoplays when the page is loaded.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#hide-autoplay-videos-that-arent-muted
 */
video[autoplay]:not([muted]) {
  display: none;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type=text],
input[type=number],
select,
textarea {
  font-size: 1rem;
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

/** 
 * Set "display: none" on Line Breaks 
 * Used as Spacing 
 */
br + br {
  display: none;
}

.skip-content {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 200;
  background-color: #fafafa;
  padding: 1em 2em;
  text-decoration: 0.1em solid;
  color: #111111;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  transform: translateX(-200%);
}

@media (prefers-reduced-motion: no-preference) {
  .skip-content {
    transition: transform 0.3s ease 0s;
  }
}
.skip-content:focus,
.skip-content:focus-visible {
  outline: 0.2em dashed #111111;
  outline-offset: 0.25em;
  transform: translate(0);
}

.open-new-tab-link {
  position: relative;
}

.open-new-tab-link__message {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border-radius: 2em;
  background-color: #111111;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .open-new-tab-link__message {
    transition: opacity 300ms ease-in-out;
  }
}
.open-new-tab-link:hover .open-new-tab-link__message,
.open-new-tab-link:active .open-new-tab-link__message,
.open-new-tab-link:focus .open-new-tab-link__message {
  display: block;
  top: -1.75em;
  left: 1em;
  opacity: 1;
  -webkit-clip-path: none;
  clip-path: none;
  width: 12em;
  height: auto;
}

.hidden {
  visibility: hidden;
  width: 0.0625rem;
  height: 0;
}

.container {
  margin: 0 auto;
  padding: 5rem 2.3125rem 2.3125rem 2.3125rem;
  max-width: 28.125rem;
}
@media screen and (min-width: 44.375em) {
  .container {
    max-width: 44.375rem;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.header__home {
  display: inline-block;
}
.header__home:focus-visible, .header__home:focus {
  outline: 0.1875rem dotted #111111;
  outline-offset: 0.3125rem;
}

.header__logo {
  width: 3.75rem;
}
@media screen and (min-width: 44.375em) {
  .header__logo {
    width: 5.625rem;
  }
}

.hero {
  margin: 2rem 0 7.5rem;
}
@media screen and (min-width: 44.375em) {
  .hero {
    margin: 2.5rem 0 4.5rem;
  }
}

.hero__title {
  margin-bottom: 0.9375rem;
  color: #969696;
  font-size: 1.375rem;
  font-weight: 300;
}
@media screen and (min-width: 44.375em) {
  .hero__title {
    font-size: 3rem;
  }
}

.hero__title--bold {
  color: #151f29;
  font-weight: 700;
}

@media screen and (min-width: 44.375em) {
  .hero__description {
    font-size: 1.25rem;
  }
}

.hero__form {
  margin: 2rem auto 0 auto;
  max-width: 21.875rem;
}
@media screen and (min-width: 44.375em) {
  .hero__form {
    margin: 2.5rem 0 0 0;
    max-width: 100%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 44.375em) {
  .hero__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.hero__form-control {
  position: relative;
}
@media screen and (min-width: 44.375em) {
  .hero__form-control {
    flex-basis: 26.25rem;
  }
}

.hero__input {
  display: block;
  border: 0.0625rem solid #c2d3ff;
  border-radius: 2em;
  padding: 0.625rem 2rem;
  width: 100%;
  height: 2.5rem;
}
.hero__input:focus-visible, .hero__input:focus {
  outline: 0.1875rem dotted #111111;
  outline-offset: 0.3125rem;
}
@media screen and (min-width: 44.375em) {
  .hero__input {
    height: 3.5rem;
  }
}

.hero__input:not(:placeholder-shown) ~ .hero__label {
  top: -1.5rem;
  left: 2.125rem;
  color: #151f29;
}

.hero__label {
  position: absolute;
  top: 0.875rem;
  left: 2rem;
  color: #b8c7ed;
}
@media screen and (min-width: 44.375em) {
  .hero__label {
    top: 1.0625rem;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  .hero__label {
    transition: all 300ms ease-in-out;
  }
}

.hero__alert {
  margin: 0.625rem 0 1.25rem;
  color: #ff5263;
  font-style: italic;
}
@media screen and (min-width: 44.375em) {
  .hero__alert {
    position: absolute;
    bottom: -1.875rem;
    left: 2rem;
    margin: 0;
    text-align: left;
  }
}

.hero__submit-button {
  display: block;
  margin-top: 0.625rem;
  border: none;
  border-radius: 2em;
  box-shadow: 0 0.3125rem 0.625rem 0.125rem rgba(76, 123, 243, 0.2);
  background-color: #4f7df3;
  cursor: pointer;
  padding: 0.75rem;
  width: 100%;
  color: white;
  font-weight: 600;
}
.hero__submit-button:focus-visible, .hero__submit-button:focus {
  outline: 0.1875rem dotted #111111;
  outline-offset: 0.3125rem;
}
.hero__submit-button:hover, .hero__submit-button:active {
  background-color: rgba(79, 125, 243, 0.8);
}
@media screen and (min-width: 44.375em) {
  .hero__submit-button {
    height: 3.5rem;
    flex-basis: 12.5rem;
    margin-top: 0;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  .hero__submit-button {
    transition: background-color 150ms ease-in-out;
  }
}

.hero__image {
  margin-top: 4.5rem;
}
@media screen and (min-width: 44.375em) {
  .hero__image {
    margin-top: 5.875rem;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6875rem;
}
@supports (gap: 0.75rem) {
  .footer__list {
    gap: 0.75rem;
  }
}

/**
 * 1. ".footer__item:not(:first-child)" has the
 *    SAME specificity with .footer__item + .footer__item".
 */
.footer__item + .footer__item {
  margin-left: 0.75rem;
}
@supports (gap: 0.75rem) {
  .footer__item + .footer__item {
    margin-left: 0;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid rgba(79, 125, 243, 0.15);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #4f7df3;
}
.footer__social:focus-visible, .footer__social:focus {
  outline: 0.1875rem dotted #111111;
  outline-offset: 0.3125rem;
}
.footer__social:hover, .footer__social:active {
  background-color: #4f7df3;
  color: #f2f2f2;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .footer__social {
    transition: all 150ms ease-in-out;
  }
}

.footer__copyright {
  color: #969696;
}
