@use "../abstracts" as *;

$-input-height-tiny: rem(56);

.hero {
  margin: rem(32) 0 rem(120);

  @include breakpoint-up("tiny") {
    margin: rem(40) 0 rem(72);
  }
}

.hero__title {
  margin-bottom: rem(15);
  color: $gray;
  font-size: rem(22);
  font-weight: 300;

  @include breakpoint-up("tiny") {
    font-size: rem(48);
  }
}

.hero__title--bold {
  color: $very-dark-blue;
  font-weight: 700;
}

.hero__description {
  @include breakpoint-up("tiny") {
    font-size: rem(20);
  }
}

.hero__form {
  margin: rem(32) auto 0 auto;
  max-width: rem(350);

  @include breakpoint-up("tiny") {
    margin: rem(40) 0 0 0;
    max-width: 100%;
    font-size: rem(16);
  }
}

.hero__container {
  @include breakpoint-up("tiny") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.hero__form-control {
  position: relative;

  @include breakpoint-up("tiny") {
    flex-basis: rem(420);
  }
}

.hero__input {
  display: block;
  border: rem(1) solid $pale-blue;
  border-radius: 2em;
  padding: rem(10) rem(32);
  width: 100%;
  height: rem(40);

  @include focus-visible($black);

  @include breakpoint-up("tiny") {
    height: $-input-height-tiny;
  }
}

.hero__input:not(:placeholder-shown) ~ .hero__label {
  top: rem(-24);
  left: rem(34);
  color: $very-dark-blue;
}

.hero__label {
  position: absolute;
  top: rem(14);
  left: rem(32);
  color: rgb(184, 199, 237);

  @include breakpoint-up("tiny") {
    top: rem(17);
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: all 300ms ease-in-out;
  }
}

.hero__alert {
  margin: rem(10) 0 rem(20);
  color: $light-red;
  font-style: italic;

  @include breakpoint-up("tiny") {
    position: absolute;
    bottom: rem(-30);
    left: rem(32);
    margin: 0;
    text-align: left;
  }
}

.hero__submit-button {
  display: block;
  margin-top: rem(10);
  border: none;
  border-radius: 2em;
  box-shadow: 0 rem(5) rem(10) rem(2) rgba(76, 123, 243, 0.2);
  background-color: $blue;
  cursor: pointer;
  padding: rem(12);
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: 600;

  @include focus-visible($black);

  @include on-event {
    background-color: rgba($blue, 0.8);
  }

  @include breakpoint-up("tiny") {
    height: $-input-height-tiny;
    flex-basis: rem(200);
    margin-top: 0;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: background-color 150ms ease-in-out;
  }
}

.hero__image {
  margin-top: rem(72);

  @include breakpoint-up("tiny") {
    margin-top: rem(94);
  }
}
