// Default black and white color for set-color() function (_functions.scss)
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;

// Colors

$blue: rgb(79, 125, 243);
$pale-blue: rgb(194, 211, 255);
$light-red: rgb(255, 82, 99);
$gray: rgb(150, 150, 150);
$very-dark-blue: rgb(21, 31, 41);

// Breakpoints
// Note: If the user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 44.375em, // => 710px
);
$breakpoints-down: (
  "tiny": 44.3125em, // => 709px
);
